
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // Rules for the 'users' collection
    match /users/{userId} {
      // Any authenticated user can create their own user document.
      // No one can see other user's documents.
      allow create: if isSignedIn() && request.auth.uid == userId;
      allow read, update, delete: if isOwner(userId);

      // Subcollections
      match /taxRecords/{taxRecordId} {
        allow read, list, create, update, delete: if isOwner(userId);
      }

      match /economicLicenses/{licenseId} {
        allow read, list, create, update, delete: if isOwner(userId);
      }
      
      match /settings/{settingId} {
         allow read, list, create, update, delete: if isOwner(userId);
      }
    }
  }
}
